    {{> head}}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h2>Primer web server con Express y Nodejs</h2>
            <P>Preparandonos para el MEAN STACK</P>
        </div>

        <div class="col-4">
            <img src="assets/img/mean.png" class="img-thumbnail">
        </div>
    </div>

    {{> footer}}

